.banner {
  background-image: url('../assets/bannerimg.png');
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
}
.margin {
  margin-top: 1%;
  margin-bottom: 1%;
}
.position {
  font-family: IBM Plex plans;
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
}
